@import 'tailwindcss';

@theme {
  --color-primary: #1677ff;

  --animate-fade-in: fadeIn 0.2s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
